<?xml version="1.0" encoding="utf-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>ArchivesSpace Interface</Name>
  <Author>Atlas Systems, Inc.</Author>
  <Version>4.0.0</Version>
  <Active>True</Active>
  <Type>Addon</Type>
  <Description>This addon performs searches in ArchivesSpace using the staff interface. This addon supports ArchivesSpace versions v2.8.0 and later.</Description>
  <Forms>
    <Form>FormRequest</Form>
  </Forms>
  <Permissions />
  <Settings>
    <Setting name="AutoSearch" value="true" type="boolean">
      <Description>Defines whether the search should be automatically performed when the form opens.</Description>
    </Setting>
    <Setting name="ArchivesSpaceStaffURL" value="" type="string">
      <Description>The URL of the ArchivesSpace Frontend Staff UI. An example would be http://127.0.0.1:8080/</Description>
    </Setting>
    <Setting name="ArchivesSpaceBackendURL" value="" type="string">
      <Description>The URL of the ArchviesSpace Backend API service. An example would be http://127.0.0.1:8089/</Description>
    </Setting>
    <Setting name="AS_Username" value="" type="string">
      <Description>The staff username to use when logging in to the web interface. It is recommended to use an account that has read-only permissions on the relevant repositories.</Description>
    </Setting>
    <Setting name="AS_Password" value="" type="string">
      <Description>The staff password to use when logging in to the web interface. It is recommended to use an account that has read-only permissions on the relevant repositories.</Description>
    </Setting>
    <Setting name="AutoSearchPriority" value="Title, Author, CallNumber" type="string">
      <Description>A comma-separated list of searches to be performed in order.</Description>
    </Setting>
    <Setting name="AutoGroupResults" value="false" type="boolean">
      <Description>Specifies whether the results grid should be grouped automatically by the field named in the AutoGroupField setting.</Description>
    </Setting>
    <Setting name="AutoGroupField" value="ItemVolume" type="string">
      <Description>The Aeon field (as returned by the ArchivesSpace Data Handler plugin) to group the results grid by when AutoGroupResults is enabled. Must also be listed in GridDisplayFields (when that setting is used). The default, ItemVolume, holds the instance's top container display string or digital object title under the plugin's default mappings.</Description>
    </Setting>
    <Setting name="GridDisplayFields" value="ItemTitle, CallNumber, ItemSubtitle, ItemAuthor, ItemVolume, ItemNumber, Location" type="string">
      <Description>A comma-separated list of the fields (as returned by the ArchivesSpace Data Handler plugin) to display as columns in the results grid, in order. Fields not listed are still imported when a row is imported; they just aren't displayed. Leave blank to display every returned field.</Description>
    </Setting>
    <Setting name="DefaultRepositoryId" value="" type="string">
      <Description>Specifies the default repository to be used when searching.</Description>
    </Setting>
  </Settings>
  <Files>
    <File>Aeon-ArchivesSpace.lua</File>
  </Files>
</Configuration>
